<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890341145128-4dpj6rg3alnah3on867k432aij5d40am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890341145128-4dpj6rg3alnah3on867k432aij5d40am</string>
	<key>API_KEY</key>
	<string>AIzaSyAsFpahGiAwEmqU0pyCNeD3cuAYBo5yoKE</string>
	<key>GCM_SENDER_ID</key>
	<string>890341145128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proximity.app</string>
	<key>PROJECT_ID</key>
	<string>proximity-ecf97</string>
	<key>STORAGE_BUCKET</key>
	<string>proximity-ecf97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890341145128:ios:14544ac19916b08314131d</string>
	<key>DATABASE_URL</key>
	<string>https://proximity-ecf97-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>